@model IEnumerable<eProject1.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employee_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee_password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.employee_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employee_password)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.employee_id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.employee_id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
