
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <div class="col-md-6" width="40%">
                <a href="/News/Index">
                    <img src="~/img/news.jpg" alt="News Image" style="object-fit:cover" />
                </a>
            </div>
            <div class="col-md-6" width="40%">
                <a href="/Event/Index">
                    <img src="~/img/event.jpg" alt="Event Image" style="object-fit:cover" />
                </a>
            </div>
        </div>
    </div>

    <div style="height:70px"></div>

    <!-- Thêm phần hiển thị danh sách tin tức -->
    <div class="container">
        <div class="row">
            <h1 style="object-position:center; padding:20px;" >MEE NEWS</h1>
            @foreach (var item in Model.News)
            {
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="@item.news_img" class="card-img-top" alt="..." style="object-fit:cover" width="200px" height="200px">
                        <div class="card-body">
                            <h5 class="card-title">@item.news_title</h5>
                            <p class="card-text">@item.news_subtitle</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="News" asp-action="Details" asp-route-id="@item.news_id" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <small class="text-muted">@item.news_date.ToString("dd/MM/yyyy")</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <h1 style="object-position: center; padding: 20px;">MEE NEWS</h1>
            <!-- Thêm phần hiển thị danh sách Event -->
            @foreach (var item in Model.Events)
            {
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="/@item.event_img" class="card-img-top" alt="..." style="object-fit:cover" width="200px" height="200px">
                        <div class="card-body">
                            <h5 class="card-title">@item.event_name</h5>
                            <p class="card-text">@item.event_content</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Event" asp-action="Details" asp-route-id="@item.event_id" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <small class="text-muted">@item.event_startdate.ToString("dd/MM/yyyy") - @item.event_enddate.ToString("dd/MM/yyyy")</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
